render/__pycache__/__init__.cpython-312.pyc
render/__pycache__/admin.cpython-312.pyc
render/__pycache__/apps.cpython-312.pyc
render/__pycache__/models.cpython-312.pyc
render/__pycache__/urls.cpython-312.pyc
render/__pycache__/views.cpython-312.pyc
render/migrations/__pycache__/__init__.cpython-312.pyc
db.sqlite3
mysite/__pycache__/__init__.cpython-312.pyc
mysite/__pycache__/settings.cpython-312.pyc
mysite/__pycache__/urls.cpython-312.pyc
mysite/__pycache__/wsgi.cpython-312.pyc
render/__init__.py
*/__pycache__/
